{"filter":false,"title":".gitignore","tooltip":"/sinatra-spec-driven-template/.gitignore","ace":{"folds":[],"scrolltop":420,"scrollleft":0,"selection":{"start":{"row":48,"column":9},"end":{"row":48,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":29,"state":"start","mode":"ace/mode/ini"}},"hash":"89eb442874a7a0bba8566e906677f4bcd70248b2","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":69,"column":0},"end":{"row":70,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":70,"column":0},"end":{"row":71,"column":12},"action":"insert","lines":["*.sqlite3","db/*.sqlite3"],"id":3}]]},"timestamp":1787671840674}